
body {
  	margin: 0;
  	line-height: normal;
}


:root {
  	
  	/* fonts */
  	--font-cardo: Cardo;
  	--font-josefin-slab: 'Josefin Slab';
  	--font-josefin-sans: 'Josefin Sans';
  	
  	/* font sizes */
  	--font-size-5xl: 1.5rem;
  	--font-size-3xl: 1.375rem;
  	--font-size-7xl: 1.625rem;
  	--font-size-29xl: 3rem;
  	--font-size-9xl: 1.75rem;
  	
  	/* Colors */
  	--color-aliceblue-100: #d0e9f2;
  	--color-darkslategray-100: #0c5944;
  	--color-darkslategray-200: #1f4036;
  	--color-darkslategray-300: #0a403a;
  	--color-darkslategray-400: rgba(10, 64, 58, 0.5);
  	
  	/* Paddings */
  	--padding-xl: 1.25rem;
  	
  	/* Border radiuses */
  	--br-xl: 20px;
  	--br-81xl: 100px;
  	--br-8xs: 5px;
  	
}